/* Add screen styles below */
h1 {
  font-size: 3em;
  position: absolute;
  bottom: 30px;
  left: 20px;
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-size: 2em;
  margin-left: 15px;
}

a {
  color: white;
}

.backimage {
  margin-top: 0%;
  max-height: 800px;
  width: 100%;
  object-fit: cover;
}

.backcontain {
    position: relative;
    text-align: center;
    color: white;
}

.navbar {
  background-color: rgb(22, 38, 84);
  height: 85px;
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.cart-layout {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 15px;
}

.logo {
  height: 85px;
  width: 100px;
}

.Cart {
  height: 75px;
  width: 75px;
}

.nav-format {
  list-style-type: none;
  margin-top: 45px;
  margin-left: 20px;
  margin-bottom: 0%;
  color: white;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  font-size: 1.2em;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 75px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

.row-section {
  width: 100%;
  margin-top: 85px;
}

.product-card {
  text-align: center;
  border: 5px solid #323232;
  padding: 10px;
  height: 345px;
  width: 275px;
  border-radius: 5%;
  margin-left: 10px;
  margin-right: 10px;
}

.product-card img {
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
  
}

.product-description {
  font-weight: bold;
  margin-top: 22px;
  font-size: 1.2 em;
}

.product-price {
  font-size: 1.2em;
  color: #009688;
}
.card-text {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.cardrow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin: 25px;
  padding: 7px;
}
.splayout {
  display: flex;
  margin: 0%;
}

.card-layout{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.Men-header {
  margin-left: 20px;
  margin-bottom: 0%;
}

.filter {
  height: 400px;
  margin-top: 95px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 280px;
}

.filter h2 {
  margin-bottom: 10px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.filter-list li {
  margin-bottom: 8px;
}

.filter-list a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.filter-list a:hover {
  background-color: #ddd;
}