/* Add screen styles below */
h1 {
  position: absolute;
  bottom: 20px;
  left: 16px;
}
li {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 0%;
}
.backimage {
  margin-top: 0%;
  max-height: 700px;
  width: 100%;
}
.backcontain {
    position: relative;
    text-align: center;
    color: black;
}

ul {
    font-size: 1.2em;
    margin-top: 0%;
    height: 75px;
    display: flex;
    flex-direction: row;
    background-color: rgb(44, 68, 140);
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0px;
  }
  
  .product-card {
    text-align: center;
    border: 5px solid #323232;
    padding: 20px;
    height: 375px;
    width: 275px;
    border-radius: 10%;
  }
  
  .product-card img {
    height: 200px;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .product-description {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-size: 1.2em;
    color: #009688;
  }

.cardrow {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 7px;
}