/* Add screen styles below */
body {
    margin: 0px;
}

.backimage {
    width: 100%;
}

.ccard {
    border-radius: 10%;
    background-color: bisque;
    max-width: 200px;
    text-align: center;
}

ul {
    height: 150px;
    display: flex;
    background-color: antiquewhite;
  }